<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <h1>Stock Exchange Monitor</h1>
        <hr>
        {% block body %}{% endblock %}
        <hr>
        <a href="{{ path('fos_user_security_logout') }}">logout</a>
        {% block javascripts %}{% endblock %}
    </body>
</html>
