{%  extends '::base.html.twig' %}
{% block body %}
    <table class="table">
        <thead>
        <tr>
            <th>GPW Market ID</th>
            <th>Full Name</th>
            <th>Current Price</th>
            <th>Info</th>
        </tr>
        </thead>
        {% for company in companies %}
            <tr>
                <th scope="row">{{ company.data.marketId }}</th>
                <td>{{ company.data.name }}</td>
                <td>{{ company.price }}</td>
                <td>
                    <a href="{{ path('company_get', {'marketId': company.data.marketId}) }}">
                        Details
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}
