{%  extends '::base.html.twig' %}
{% block body %}
{% for company in companies %}
    <p><a href="{{ path('company_get', {'marketId': company.marketId}) }}">{{ company.name }} ({{ company.marketId }})</a></p>
{% endfor %}
{% endblock %}
