{%  extends '::base.html.twig' %}
{% block body %}
    <h1><a href="{{ path('company_index') }}">Companies</a></h1>
    <h2><a href="{{ path('craue_config_settings_modify') }}">Settings</a></h2>
{% endblock %}
